<template></template>

<script>
class TodoList extends HTMLElement {
    constructor() {
        super();

        this.clickHandler = this._click.bind(this);
        this.lastId = 0;
        this.items = [];
    }

    connectedCallback() {
        this.setAttribute("role", "list");
        this.addEventListener("click", this.clickHandler);
    }

    disconnectedCallback() {
        this.removeEventListener("click", this.clickHandler);
    }

    add(titles) {
        if (Array.isArray(titles))
        {
            const fragment = document.createDocumentFragment();

            for (let title of titles) {
                fragment.appendChild(this._createItem(title));
            }

            this._addChild(fragment);
        }
        else {
            this._addChild(this._createItem(titles));
        }
    }

    deleteSelectedItems() {
        const selectedItems = Array.from(this.querySelectorAll('todo-item[aria-selected="true"]'));

        for (let item of selectedItems) {
            const index = this.items.indexOf(this.items.find(i => i.id == Number(item.dataset.id)));
            this.items.splice(index, 1);
            this.removeChild(item);
        }
    }

    filter(text) {
        const itemsToShow = this.items.filter(item => item.title.indexOf(text) > -1).map(item => item.id);

        for (let todoItem of this.children) {
            const visible = itemsToShow.indexOf(Number(todoItem.dataset.id)) != -1;
            todoItem.setAttribute("aria-hidden", !visible);
        }
    }

    _createItem(title) {
        const item = document.createElement("todo-item");
        item.title = title;
        item.setAttribute("data-id", this.lastId);
        item.setAttribute("aria-hidden", false);

        this.items.push({
            id: this.lastId,
            title: title
        });

        this.lastId += 1;
        return item;
    }

    _addChild(child) {
        this.appendChild(child);
    }

    _click(event) {
        if (event.target.tagName == "TODO-ITEM") {
            const isSelected = event.target.getAttribute("aria-selected") == "true";
            event.target.setAttribute("aria-selected", !isSelected);
        }
    }

}

customElements.define("todo-list", TodoList)
</script>