html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    width: 100vw;
    height: 100vh;

    --window-height: 1.5rem;
    --button-width: 5rem;
    --mobile-width: 25.75rem;
    --selected-background: #77B1D7;
}

body {
    width: 100%;
    max-width: var(--mobile-width);
    margin: 0 auto;
    display: flex;
    background-color: #E1F3FF;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ECECEC;
}

button {
    width: var(--button-width);
    margin: 0;
    padding: 0;
}

#btnAdd {
    background-color: #0081D5;
    color: white;
}

#btnDelete {
    background-color: #D2335B;
    color: white;
}

#edtFilter {
    background-color: white;
    color: black;
}

button, input {
    height: var(--window-height);
}

input {
    flex: 1;
}

ul {
    display: block;
    overflow: auto;
    flex: 2;
}

li {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0.2rem;
    padding: 0.5rem;
}

li:before {
    content: "";
    transition: background 0.5s cubic-bezier(0, 0.95, 0.37, 1.61);
    will-change: background;
}

li[aria-selected="true"]:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.7rem;
    width: 1rem;
    background: var(--selected-background);
}

li[aria-hidden="false"] {
    display:block;
}

li[aria-hidden="true"] {
    display:none;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
    cursor: pointer;
    background-color: white;        
}

.switch:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 3px;
    background-color: white;            
}

.switch:after {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 4px;
    display: block;
    top: 1px;
    width: 50%;
    border-radius: 50%;
    transition: 1s;
    border-style: solid;
    border-color: lightgrey;
    border-width: 3px;
    background-color: white;            
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container>div {
    background-color: white;
    font-size: 30px;
}

.flex-container>.title {
    background-color: white;
    font-size: 30px;
    width: 5rem;
}

[data-completed="false"] .switch:before {
    background-color: white;
}

[data-completed="true"] .switch:before {
    background-color: lightgreen;
    border-style: none;    
}

[data-completed="false"] .switch::after {
    background-color: white;
}

[data-completed="true"] .switch::after {
    transform: translateX(24px);
}
